.current-nav-item {
	font-weight: bold;
}

.separator-year {
	width: 50%;
    display: block;
    float: left;
    margin-top: 50px;
    margin-bottom: 20px;
}

.separator-month {
	width: 50%;
    display: block;
    float: right;
    margin-top: 50px;
	margin-bottom: 20px;
	text-align: right;
}