.separator-year {
	display: flex;
	justify-content: space-between;
}

.separator-month {
	display: flex;
	flex-direction: row-reverse;
}

.nav-item {
	padding: 10px;
}

.selected {
	font-weight: bold;
}

.article-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.navigation-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.nav-item {
		vertical-align: center;
	}
}

a {
	text-decoration: none;
	border-bottom: 0.01rem solid transparent;
}

a:hover {
	border-bottom-color: #444444;
}

.article {
	display: flex;
	justify-content: space-between;

	color: #444444;
}

.home {
	max-width: 500px;
	margin: auto;
}

html * {
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
}

.page-title {
	margin: 10px;
	font-size: 1.5rem;
}

.about-content {
	margin: auto;
	column-count: 2;
	column-gap: 10rem;
	max-width: 1200px;
}