---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="home">
    
      {{ content }}
    
      {% if site.posts.size > 0 %}
        <!-- <h2>{{ page.list_title | default: "Posts" }}</h2> -->
        {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
        <ul class="article-list">
          {% for year in postsByYear %}
            <div class="separator-year">
              <h2>{{ year.name }}</h2>
              {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
              
              {% for month in postsByMonth %}
                {% if forloop.first == true %}
              <h3>{{ month.name }}</h3>
            </div>
                {% else %}
              <div class="separator-month">
                <h3>{{ month.name }}</h3>
              </div>
                {% endif %}

              {% for post in month.items %}
              <li>
                <a href="{{ post.url }}" title="{{ post.title }}" class="article">
                  <span>{{ post.title }}</span>
                  <span>{{ post.date | date: '%d'}}</span>
                </a>
              </li>
              {% endfor %}
              {% endfor %}
            </div>
              {% endfor %}
            </ul>
            {% endif %}
            
          </div>
  </body>
</html>